*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    padding:0;
    margin:0;
  }
  
  
  
  /* Scroll top */
  .backto-top{
    position: fixed;
    bottom: -100%; /* this suppose to be "2rem" */
    right: 1.5rem;
    z-index: 30;
  }
  
  .backto-top .bx{
    padding: 8px;
    font-size: 1.3rem;
    color: #02070f;
    background: #bef049;
    border-radius: 50%;
  }
  
  
  .backto-top .bx:hover{
    background: #fdba04;
    transition: 0.3s;
  }
  
  .scroll-active{/* The key word "scroll-active" is from Js and the dot behind it is from html */
    bottom: 2rem;
    transition: 0.3s;
  }



  /* Animation */
@keyframes slideInFromLeft{
  0%{
      transform: translateX(-100%);
  }
  
  100%{
      transform: translateX(0);
  }
}

@keyframes slideInFromRight{
  0%{
      transform: translateX(100%);
  }
  
  100%{
      transform: translateX(0);
  }
}

@keyframes slideInFromTop{
  0%{
      transform: translateY(-100%);
  }
  
  100%{
      transform: translateX(0);
  }
}

@keyframes slideInFromBottom{
  0%{
      transform: translateY(30%);
  }
  
  100%{
      transform: translateX(0);
  }
}
  
  
  
  body{
      font: 15px/1.5 Arial, Helvetica,sans-serif;
      background-color:#0b1421;
    }
  
    
    /* Global */
    .container{
      max-width: 1100px;
      width:80%;
      margin:auto;
      overflow:hidden;
    }
  
  
  header{
    background-color: transparent;
    top: 0; 
    position: fixed;
    width: 100%;
    z-index: 300;
  }
  
  .header-active{
    background-color: #02070f;
    border-bottom: 2px solid #313133;
    transition: 0.4s;
    -webkit-background-composite:  #02070f;
  }
  
  
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .headerlogo img{
    width: 130px;
    
  }
  
  
  nav li{
    display: inline;
    padding-left: 6px;
    text-transform: uppercase;
  }
  
  nav a{
    font-weight: bold;
    padding: 4px;
    color: #fff;
    border-radius: 2px;
  }
  .current a{
    background-color: #bef049;
    color: #0b1421;
  }
  
  nav a:hover{
    background-color: #bef049;
    color: #0b1421;
  }
  
  
   .open-slide{
    display: none;
    font-size: 30px;
    color: #fff;
  }
  
  .open-slide:hover{
    color: #93e923;
    cursor: pointer;
  }
  
  ion-icon{
    color: #fff;
    font-size: 25px;
  } 


  
 /* large devices */
@media screen and (max-width: 790px){
  header .headerlogo img{
   width: 110px;
  }

  header{
    height: 4rem;
  }
}


/* small devices */
@media screen and (max-width: 711px){
  header nav{
    display: none;
  }

  header .headerlogo img{
    width: 90px;
    
  }

  header{
    height: 3.2rem;
  }
  

  .open-slide{
    display: block;
    font-size: 30px;
  }
}
  
  
    
  
  
  
  
  /* Side Menu */
    .side-nav{
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 400;
      top: 0;
      right: 0;
      background-color: #02070f;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
  }
  
  .sidemenu-logo{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    color: #fdba04;
    font-weight: bold;
    width: 150px;
    margin: auto;
  }
  
  .sidemenu-logo h4{
    font-weight: lighter;
  }
  
  .sidemenu-logo img{
    width: 58px;
    margin: auto;
  }
  
  .selectIon{
    margin-top: 1rem;
  }
  
  .side-nav .selectIon a{
      padding: 10px 10px 10px 30px;
      text-decoration: none;
      font-size: 18px;
      color: #ccc;
      display: block;
      transition: 0.3s;
      border-bottom: 1px solid #030811;
      background-color: #101b2b;
      text-transform: capitalize;
      transition: .4s;
  }
  
  .side-nav .selectIon a:hover{
      color: #020b18;
      background-color: #93e923;
      padding-left: 40px;
  }
  
  .side-nav .btn-close{
      position: absolute;
      top: 0;
      right: 22px;
      font-size: 36px;
      margin-left: 50px;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
  }
  
  .side-nav .btn-close:hover{
    color: #93e923;
   
  }
  
  .skillsidebar{
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: auto;
    gap: 30px;
  }
  .skillsidebar p{
    font-size: small;
    margin-top: 60px;
  }
  
  .skillsidebarimg img{
    width: 44px;
    background-color: #ff8b00;
    border-radius: 50%;
  }
  
  .skillsidebarimg{
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    border-right: 2px solid #fdba04;
    color: #fff;
    border-radius: 25px;
  }

  
 
  
  
  
    /* contact page */
  
/* twisting */
  .twistedsection{
      background:url("../img/handshake.jpg") no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 0;
    }
    
    .twistedsection::after{
      content: '';
      background-color: rgba(44, 62, 80, 0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -2;
    }
    
    
    .text-effect{
      color: #ff8b00;
      font-family: 'Aladin', cursive;
      font-size: 20px;
      transition: all .3s ease-in-out;
      margin-top: 6rem;
      margin-bottom: 1rem;
    }
    .text-effect span{
      display: inline-block;
      animation: loading-text 2s infinite ease-in-out;
    }
    .text-effect span:nth-child(1) { animation-delay: 0.9s; }
    .text-effect span:nth-child(2) { animation-delay: 1s; }
    .text-effect span:nth-child(3) { animation-delay: 1.1s; }
    .text-effect span:nth-child(4) { animation-delay: 1.2s; }
    .text-effect span:nth-child(5) { animation-delay: 1.3s; }
    .text-effect span:nth-child(6) { animation-delay: 1.4s; }
    .text-effect span:nth-child(7) { animation-delay: 1.5s; }
    .text-effect span:nth-child(8) { animation-delay: 1.6s;  }
    .text-effect span:nth-child(9) { animation-delay: 1.7s;  }
    .text-effect span:nth-child(10) { animation-delay: 1.8s; }
    @keyframes loading-text{
      0%{
          opacity: 1;
          transform: translateY(0%);
      }
      20%{
          opacity: 1;
          transform: translateY(-30%);
      }
      40%{
          opacity: 0;
          transform: translateY(-50%);
      }
      60%{ opacity: 0; }
      80%{ opacity: 0; }
      100%{ opacity: 1; }
    }

    .camped-area{
      margin-top: 6rem;
      animation: slideInFromBottom 1s ease-in;
    }


    .twist-first-p{
      color: #ddd;
      text-transform: uppercase;
      letter-spacing: 6px;
    }

    .twistedtext h1{
      color: #aef059;
      font-size: 45px;
      width: 800px;
      text-transform: capitalize;
    }

    .twist-seco-p{
      font-size: 20px;
      font-weight: 600;
      width: 900px;
      color: #fff;
      margin-bottom: 1rem;
    }


    
    @media screen and (max-width: 1108px){
      .camped-area .twist-seco-p{
        width: 100%;
      }
    }
    
    
    @media screen and (max-width: 1000px){
      .camped-area h1{
        font-size: 40px;
        width: 700px;
      }
    }
    
    
    
    @media screen and (max-width:880px){
      .camped-area{
        margin-top: 5rem;
      }
    
      .camped-area .twist-seco-p{
        font-size: 18px;
      }
    }
    
    
    @media screen and (max-width:620px){
      .camped-area{
        margin-top: 4rem;
      }
    }
    
    
    @media screen and (max-width:440px){
      .camped-area{
        margin-top: 3rem;
      }

      .camped-area h1{
        font-size: 30px;
      }
    }

    
    @media screen and (max-width:416px){
      .camped-area{
        margin-top: 2rem;
      }
    }


    @media screen and (max-width:332px){
      .text-effect{
      font-size: 18px;
        }
      }
      
    
    @media screen and (max-width:308px){
      .camped-area .twist-seco-p{
        font-size: 16px;
      }
      }



    
    
    /* solcial media and form area */
    .contactsection{
      width: 63rem;
      margin: auto;
    }

    .socialmediasection{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      float: left;
      margin-top: 8rem;
      width: 20%;
    }

    .socialmedia{
      width: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #2C3137;
      padding: 5px;
      border-radius: 10px;
      border: none;
      transition: 1s;
    }

    .socialmedia:hover{
      background-color: #0c2946;
      transition: 1s;
    }

    .socialmedia i{
      font-size: 40px;
    }
    
    .socialmedia .whatsapp i{
      color: #00bb7e;
    }
    
    .socialmedia .telegram i{
      color: #bef049;
    }
    
    .socialmedia .linkedin i{
      color: #0079ee;
    }
    
    .socialmedia .call i{
      color: #7eb6eb;
    }
    
    .socialmedia .span{
      color: #ccc;
    }
    
    
    .formsection{
      margin-bottom: 50px;
    }

    

    

   
    
    .contact-form{
      background: linear-gradient(#0b1421, #0b1421) padding-box,
                linear-gradient(145deg, transparent 35%,#bef049, #ff8b00) border-box;
    border: 2px solid transparent;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    float: right;
    width: 65%;
    display: grid;
    row-gap: 1rem;
    padding: 30px;
    }


    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
    
      50% {
        background-position: 100% 50%;
      }
    
      100% {
        background-position: 0% 50%;
      }
    }
    
    .contact-form input, .contact-form textarea{
      border: 1px solid #fff;
      outline: none;
      font-size: 0.9rem;
      padding: 15px;
      color: #fff;
      background: transparent;
      border-radius: 0.4rem;
      width: 100%;
    }
    
    .contact-form .send-btn{
      width: 120px;
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 12px;
      cursor: pointer;
      margin: 0 auto;
      transition: all 0.2s linear;
      border-radius: 5px;
      border: none;
    }
    
    
    .send-btn{
      color: #020b18;
      background-color: #e9e9e9;
      font-family: 'Roboto Flex', sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 0;
      border: none;
      position: relative;
      z-index: 1;
      transition: all .3s ease 0.15s;
    }
    .send-btn:focus{ color: #5bc908; }
    .send-btn:hover{
      color: #fff;
      background-color: #5bc908;
      letter-spacing: 4px;
      box-shadow: 0 0 15px -5px #555;
    }
    .send-btn:before,
    .send-btn:after{
      content: "";
      width: 20%;
      height: 20%;
      border-radius: 2px;
      border: 4px solid #5bc908;
      border-bottom-color: transparent;
      border-right-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s ease,opacity 0.4s ease 0.1s;
    }
    .send-btn:after{
      border: 4px solid #5bc908;
      border-top-color: transparent;
      border-left-color: transparent;
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
    }
    .send-btn:hover:before, 
    .send-btn:hover:after{ 
      width: 100%;
      height: 100%; 
      border: 2px solid #5bc908;
      opacity: 0;
    }
    


    @media screen and (max-width:1288px){
      .contactsection{
        width: 100%;
      }
      }

      @media screen and (max-width:978px){
        .contactsection{
          margin-top: 5rem;
        }

        .socialmediasection{
          grid-template-columns: repeat(1, 1fr);
          margin-top: 3rem;
        }

        .contact-form{
        width: 80%;
        }
        }

        @media screen and (max-width:802px){
          .socialmedia{
            width: 100px;
          }

          .socialmedia i{
            font-size: 35px;
          }
        }

        @media screen and (max-width:770px){
          .socialmediasection{
            grid-template-columns: repeat(4, 1fr);
            float: none;
            width: 506px;
            margin: auto;
            gap: 20px;
            margin-bottom: 2rem;
          }
  

          .socialmedia{
            width: 110px;
          }

          .socialmedia i{
            font-size: 40px;
          }

          .contact-form{
            float: none;
            width: 100%;
            }
        }


        @media screen and (max-width:642px){
          .socialmediasection{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        }

        @media screen and (max-width:522px){
          .socialmediasection{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 250px;
          }
        }

        @media screen and (max-width:310px){
          .socialmediasection{
            row-gap: 10px;
            column-gap: 5px;
            width: 100%;
          }

          .socialmedia{
            width: 100px;
            margin: auto;
          }

          .socialmedia i{
            font-size: 35px;
          }
        }








    /* note area */
    .note-main-head{
      margin-top: 5rem;
      margin-bottom: 2rem;
      color: #fff;
      text-align: center;
    }
    .note-main-head h2{
      text-transform: capitalize;
    }

    .note-main-head p span{
      color: #aef059;
    }

    .note-span{
      color: #aef059;
    }

    .home-note{
      color: #fff;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      justify-items: center;
      gap: 40px;
      margin-bottom: 4rem;
    }

    .note-one{
      width: 100%;
      margin-bottom: 10px;
    }

    .note-area-first{
      display: none;
    }

    .note-one h2{
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .note-one p span{
      color: #d7f7ae;
    }

    .note-one h2 .bx{
      background-color: #aef059;
      padding: 5px;
      border-radius: 50%;
      color: #030811;
    }

    .image-note img{
      width: 100%;
    }

    .image-note{
      width: 260px;
    }

    .image-note a{
      text-transform: capitalize;
      color: #ff8b00;
      text-align: center;
    }

    .image-note p{
      background-color: #2C3137;
      margin: 0;
      transition: 1s;
      border-radius: 20px;
    }

    .image-note p:hover{
      background-color: #bef049;
      color: #030811;
      transition: 1s;
    }


    @media screen and (max-width:1139px){
      .home-note{
        gap: 30px;
      }

      .note-main-head p{
      font-size: x-small;
    }
    }

    @media screen and (max-width:1111px){
      .home-note{
        gap: 20px;
      }
    }

    @media screen and (max-width:1099px){
    .note-main-head p{
      font-size: small;
      }
        
      .home-note{
        gap: 10px;
      }

      .image-note{
        width: 250px;
      }
    }

    @media screen and (max-width:983px){
      .image-note{
        width: 220px;
      }
    }

    @media screen and (max-width:903px){
      .note-one h2{
        font-size: 20px;
      }
    }

    @media screen and (max-width:867px){
      .image-note{
        width: 190px;
      }
    }

    @media screen and (max-width:847px){
      .note-one h2{
        font-size: 18px;
      }
    }

    @media screen and (max-width:839px){
      .home-note{
        display: block;
        justify-content: center;
        align-items: center;
      }

      .note-area-first{
        display: block;
      }

      .later-aspect{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-left: 30px;
      }

      .note-area-second{
        display: none;
      }

      .image-note{
        margin-bottom: 2rem;
        width: 280px;
      }

      .note-one{
        margin-bottom: 2rem;
      }
    }

    @media screen and (max-width:771px){
      .later-aspect{
        display: block;
        margin-left: 0;
      }
      .note-area-first{
        display: none;
      }

      .image-note{
        margin: auto;
        width: 450px;
        margin-bottom: 2rem;
      }

      .note-area-second{
        display: block;
      }
    }

    @media screen and (max-width:671px){
      .image-note{
        margin: auto;
        width: 400px;
      }
    }

    @media screen and (max-width:583px){
      .image-note{
        margin: auto;
        width: 350px;
      }
    }

    @media screen and (max-width:495px){
      .image-note{
        margin: auto;
        width: 300px;
      }
    }

    @media screen and (max-width:466px){
      .image-note{
        width: 270px;
        margin-bottom: 2rem;
      }
    }


    @media screen and (max-width:406px){
      .image-note{
        width: 210px;
      }
    }

    @media screen and (max-width:294px){
      .image-note{
        width: 160x;
      }
    }
  
  
  
  
  
  
    /* email-signature */
  .signature-section{
      background:url("../img/email-signature.png") no-repeat;
      background-position: center;
      background-size: cover;
    }

  .email-signature{
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 0;
    padding: 40px 20px 60px;
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    border-radius: 8px;
  }
  .email-signature:after{
    content: '';
    background-color: #bbb;
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .email-signature .signature-icon{
    color: #fff;
    background: #5bc908;
    font-size: 55px;
    text-align: center;
    line-height: 105px;
    width: 160px;
    height: 160px;
    padding: 18px;
    border-radius: 50%;
    box-shadow: 0 0 0 25px #e7e7e7;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }
  .email-signature .signature-icon img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  .email-signature .signature-details{
    text-align: center;
    width: 50%;
    padding-right: 120px;
    vertical-align: top;
    display: inline-block;
  }
  .email-signature .title{
    color: #02070f;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
  }
  .email-signature .title span{ color: #5bc908; }
  .email-signature .post{
    color: #02070f;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 7px;
    display: block;
  }
  .email-signature .social-links{
    padding: 8px 0 0;
    margin: 0;
    list-style: none;
    border-top: 2px solid #5bc908;
    display: inline-block;
    position: relative;
  }
  .email-signature .social-links li{
    margin: 0 5px;
    display: inline-block;
  }
  .email-signature .social-links li a{
    color: #fff;
    background-color: #02070f;
    font-size: 11px;
    line-height: 23px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
  }
  .email-signature .social-links li a:hover{ 
    background-color: #5bc908;
    color: #02070f;
   }
  .email-signature .signature-content{
    width: 50%;
    padding: 0 0 0 140px;
    margin: 0;
    list-style: none;
    display: inline-block;
  }
  .email-signature .signature-content li{
    color: #020b18;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 0 2px 25px;
    margin: 0 0 12px;
    position: relative;
  }
  .email-signature .signature-content li:last-child{ margin-bottom: 0; }
  .email-signature .signature-content li i{
    color: #02070f;
    background-color: #5bc908;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  
  
  
  @media screen and (max-width:978px){
    .email-signature{
      margin-top: 3rem;
  }
  }
  
  @media screen and (max-width:767px){
    .email-signature{
        width: 250px;
        padding: 20px 20px 45px;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .email-signature .signature-icon{
        box-shadow: 0 0 0 10px #e7e7e7;
        transform: translateX(-50%) translateY(0);
        top: 125px;
        left: 50%;
    }
    .email-signature .signature-details,
    .email-signature .signature-content{
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .email-signature .signature-details{ margin: 0 0 200px; }
    .email-signature .signature-content li{
        padding: 0;
        margin: 0 0 10px;
    }
    .email-signature .signature-content li i{
        position: relative;
        transform: translateY(0);
    }
  
    .email-signature .signature-icon{
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width:760px){
    .email-signature{
      margin-top: 2rem;
    }
  }
  
  @media screen and (max-width:320px){
    .email-signature{
      width: 100%;
    }
  }
  
  @media screen and (max-width:290px){
    .email-signature .signature-content li{
      font-size: 10px;
    }
  
    .email-signature .signature-content li i{
      font-size: 9px;
      height: 18px;
      width: 18px;
    }
  }
    
    
    
  
  
  
  
  /* class */
  .classsection{
    /* background-color: #020b18; */
    background-color:  #191d22;
  }
  .classhomes{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: #1e2631;
    border-radius: 10px; */
    overflow: hidden;
    margin-bottom: 3rem;
    margin-top: 4rem;
  }
  
  .classhomes .class-text{
    width: 50%;
    padding: 10px;
    color: #fff;
  }
  
  .class-h4{
    position: relative;
   }
  
   .underline{
     width: 35%;
     height: 2px;
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left: 0;
     background-color: #ccc;
     overflow: hidden;
   }
  
   .classhomes .class-text h4{
    font-weight: lighter;
    margin-bottom: 4rem;
  }
  
  .classhomes .class-text h2{
    font-size: 30px;
    margin-bottom: 1rem;
  }
  
  .classhomes .class-text h2 span{
    color: #aef059;
  }
  
  .classhomes .class-text p{
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  .classhomes img{
    width: 50%;
  }
  
  
  
  
  @media only screen and (max-width: 1370px){
    .classhomes .class-text h4{
      margin-bottom: 3rem;
    }
  
  
    .classhomes .class-text h2{
      font-size: 25px;
    }
  
    .classhomes .class-text p{
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
  
  
  @media only screen and (max-width: 1362px){
    .classhomes .class-text h2{
      font-size: 20px;
    }
  
    .classhomes .class-text p{
      font-size: 15px;
      letter-spacing: normal;
      margin-bottom: 5px;
    } 
  }
  
  
  @media only screen and (max-width: 1194px){
    .classhomes .class-text h4{
      margin-bottom: 1.5rem;
    }
  
    .classhomes .class-text h2{
      margin-bottom: 0.6rem;
    }
  }
  
  
  @media only screen and (max-width: 1103px){
    .classhomes .class-text h2{
      font-size: 17px;
      margin-bottom: 0.4rem;
    }
  
    .classhomes .class-text p{
      font-size: 13px;
    } 
  }
  
  @media only screen and (max-width: 1015px){
    .classhomes .class-text p{
      font-size: 12px;
    } 
  }
  
  
  @media only screen and (max-width: 962px){
    .classhomes .class-text p{
      font-size: 11px;
    } 
  }
  
  
  @media only screen and (max-width: 890px){
    .classhomes{
      display: flex;
      flex-direction: column;
      width: 520px;
      margin: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  
    .classhomes .class-text{
      width: 100%;
      padding: 10px;
      color: #fff;
    }
  
    .class-h4{
      position: relative;
     }
   
  
     .classhomes .class-text h4{
      font-weight: lighter;
      margin-bottom: 4rem;
    }
  
    .classhomes .class-text h2{
      font-size: 30px;
      margin-bottom: 1rem;
    }
  
    .classhomes .class-text h2 span{
      color: #bef049;
    }
  
    .classhomes .class-text p{
      font-size: 18px;
      margin-bottom: 10px;
      letter-spacing: normal;
    }
  
    .classhomes img{
      width: 100%;
    }
  }
  
  
  @media only screen and (max-width: 677px){
    .classhomes{
      width: 100%;
    }
  }
  
  
  @media only screen and (max-width: 565px){
    .classhomes .class-text h2{
      font-size: 25px;
    }
  }
  
  @media only screen and (max-width:475px){
    .classhomes .class-text h2{
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 403px){
    .classhomes .class-text h2{
      font-size: 17px;
    }
  
    .classhomes .class-text p{
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 327px){
    .classhomes .class-text h2{
      font-size: 15px;
    }
  }








   /* footer */
   footer{
    /* background-color: #0b1421; */
    background-color: #191d22;
    margin-top: 100px;
    overflow: hidden;
    margin-top: 0;
  }
  
  .quicklink-footer{
    background-color:  #1d2227;
    clip-path: polygon(49% 0, 49% 0, 100% 15%, 100% 70%, 100% 100%, 30% 100%, 0 100%, 0 14%);
  }
  .werlopfooter img{
    width: 160px;
  }
  
  .quicklink{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
   justify-content: center;
   justify-items: center;
   margin-top: 55px;
   color: rgba(207, 201, 201, 0.6);
  }
  
  .quicklink a{
    color: rgba(207, 201, 201, 0.6);
  }
  
  .quicklink li{
    margin-bottom: 7px;
  }
  
  .quicklink ol{
    font-size: smaller;
  }

  .quicklink-topic{
    color: #ccc;
    margin-bottom: 10px;
    font-size: small;
    font-weight: bold;
  }
  
  
  .footerlinkover a:hover{
    color: #fdba04;
  }
  
  .copyright{
    color: rgba(207, 201, 201, 0.6);
    padding: 5px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copyright a{
    color: #ccc;
  }
  
  .copyright p{
    font-size: x-small;
  }
  
  .copyright li{
    display: inline;
    margin: 6px;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
  }
  
  .copyright a:hover{
    color: #ff8b00;
  }
  
  
  
  
  @media screen and (max-width: 812px){
    .werlopfooter img{
      width: 110px;
    }
  }
  
  @media screen and (max-width: 615px){
    .quicklink{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .werlopfooter img{
      width: 90px;
    }
  
    .werlopfooter{
      text-align: center;
      font-size: small;
    }
  }
  
  
  @media screen and (max-width: 489px){
    .quicklink{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .copyright{
      flex-direction: column;
      gap: 7px;
    }
  }
